h1, h2, h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

h2, .h2 {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: open_sansregular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.scroll-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.show-nav-bar .scroll-container, .show-nav-bar .scroll-shadow, .show-nav-bar .section-loading-container, .show-nav-bar .side-bar, .show-nav-bar .action-bar, .show-nav-bar .breadcrumb-bar, .show-nav-bar .filter-bar-fixed, .show-nav-bar .alpha-bar {
    top: 60px;
}
.show-side-bar .scroll-container, .show-side-bar .scroll-shadow, .show-side-bar .section-loading-container, .show-side-bar .breadcrumb-bar, .show-side-bar .filter-bar-fixed {
    left: 240px;
}
.show-side-bar.show-action-bar .scroll-container, .show-side-bar.show-action-bar .scroll-shadow, .show-side-bar.show-action-bar .section-loading-container, .show-side-bar .section-loading-container, .show-side-bar.show-action-bar .breadcrumb-bar, .show-side-bar.show-action-bar .filter-bar-fixed {
    left: 300px;
}
.show-side-bar.show-action-bar .scroll-shadow {
    -webkit-transition: left .2s, opacity .5s;
    transition: left .2s, opacity .5s;
}
.show-action-bar .scroll-container, .show-action-bar .scroll-shadow, .show-action-bar .section-loading-container, .show-action-bar .side-bar, .show-action-bar .breadcrumb-bar, .show-action-bar .filter-bar-fixed {
    left: 60px;
}
.show-breadcrumb-bar .scroll-container, .show-breadcrumb-bar .scroll-shadow, .show-breadcrumb-bar .section-loading-container, .show-breadcrumb-bar .filter-bar-fixed, .show-breadcrumb-bar .alpha-bar {
    top: 111px;
}
.show-breadcrumb-bar .scroll-shadow, .show-filter-bar .scroll-shadow {
    display: block;
}
.show-filter-bar .scroll-container, .show-filter-bar .scroll-shadow, .show-filter-bar .section-loading-container, .show-filter-bar .alpha-bar {
    top: 161px;
}
.show-alpha-bar .scroll-container, .show-alpha-bar .section-loading-container {
    right: 30px;
}

.wf-image-preloader {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -170px;
}

.wf-image {
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat;
    background-position: center;
}

.wf-image.logo {
    width: 294px;
    height: 229px;
    background-image: url(images/wf_logo.png);
	background-size: 294px 229px;
}

.wf-image.logo-sm {
    width: 400px;
    height: 148px;
    background-image: url(images/wf_logo_sm.png);
	background-size: 400px 148px;
}
.wf-image.server {
    width: 250px;
    height: 250px;
    background-image: url(../img/plex-server.png);
}

@media all and (-webkit-min-device-pixel-ratio:1.5) {
    .wf-image.server {
        background-image: url(../img/plex-server@2x.png);
        background-size: 250px 250px;
	}
}
.wf-image.server-sm {
    width: 100px;
    height: 100px;
    background-image: url(../img/plex-server.png);
    background-size: 100px 100px;
}
@media all and (-webkit-min-device-pixel-ratio:1.5) {
    .wf-image.server-sm {
        background-image: url(../img/plex-server@2x.png);
        background-size: 100px 100px;
    }
}.wf-image.server-xs {
    width: 60px;
    height: 60px;
    background-image: url(../img/plex-server.png);
    background-size: 60px 60px;
}
@media all and (-webkit-min-device-pixel-ratio:1.5) {
    .wf-image.server-xs {
        background-image: url(../img/plex-server@2x.png);
        background-size: 60px 60px;
    }
}.wf-image.plex-pass {
    width: 250px;
    height: 114px;
    background-image: url(../img/plex-pass.png);
}
@media all and (-webkit-min-device-pixel-ratio:1.5) {
    .wf-image.plex-pass {
    background-image: url(../img/plex-pass@2x.png);
    background-size: 250px 114px;
}
}.wf-image.plex-pass-sm {
    width: 114px;
    height: 52px;
    background-image: url(../img/plex-pass.png);
    background-size: 114px 52px;
}
@media all and (-webkit-min-device-pixel-ratio:1.5) {
    .wf-image.plex-pass-sm {
    background-image: url(../img/plex-pass@2x.png);
    background-size: 114px 52px;
    }
}

.background-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    opacity: .2;
    filter: alpha(opacity=20);
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.background.dim {
    opacity: .1;
    filter: alpha(opacity=10);
}
.background.bright {
    opacity: .3;
    filter: alpha(opacity=30);
}
.background.transition-out {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: none;
    transition: none;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes loading {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes loading {
    from {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes barberpole-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}
@-moz-keyframes barberpole-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}
@-o-keyframes barberpole-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}
@keyframes barberpole-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}
@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    20%, 60% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    40%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@-moz-keyframes shake {
    0%, 100% {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
    20%, 60% {
        -moz-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    40%, 80% {
        -moz-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@-o-keyframes loading {
    0%, 100% {
        -p-transform: translateX(0);
        transform: translateX(0);
    }
    20%, 60% {
        -p-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    40%, 80% {
        -p-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-10px);
    }
    40%, 80% {
        transform: translateX(10px);
    }
}
.loading {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;
    border: solid 2px transparent;
    border-top-color: #1AB6E2;
    border-left-color: #1AB6E2;
    border-radius: 50%;
    -webkit-animation: loading .5s linear infinite;
    -moz-animation: loading .5s linear infinite;
    -o-animation: loading .5s linear infinite;
    animation: loading .5s linear infinite;
}

@media (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}

.dark-scrollbar {
    scrollbar-face-color: #323232;
    scrollbar-arrow-color: #323232;
    scrollbar-track-color: #000;
    scrollbar-shadow-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-3dlight-color: #000;
    scrollbar-darkshadow-color: #000;
}
.dark-scrollbar::-webkit-scrollbar {
    width: 15px;
}
.dark-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .2);
}
.dark-scrollbar::-webkit-scrollbar-thumb {
    min-height: 50px;
    background-color: rgba(255, 255, 255, .15);
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}
.dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, .25);
}
.dark-scrollbar::-webkit-scrollbar-thumb:window-inactive {
    background-color: rgba(255, 255, 255, .05);
}
.scroll-shadow {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    height: 5px;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), 0, rgba(0, 0, 0, 0), 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',  endColorstr='#00000000',  GradientType=0);
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.scroll-shadow.transition-out {
    opacity: 0;
    filter: alpha(opacity=0);
}

.sign-in-container>.sign-in-logo {
    margin-top: 50px;
}
.sign-in-container>.row-padded {
    margin-top: 50px;
}
.sign-in-header>.selected {
    color: #eee;
}
.sign-in-header>.sign-in-header-divider {
    margin: 0 10px;
}
.sign-in-form .email-group, .sign-in-form .confirm-group, .sign-in-form .age-group, .sign-in-form .terms-group, .sign-in-form .sign-up-label {
    display: none;
}
.sign-up-form .sign-in-label {
    display: none;
}

.sign-in-form .email-group, .sign-in-form .confirm-group, .sign-in-form .age-group, .sign-in-form .terms-group, .sign-in-form .sign-up-label {
    display: none;
}

@media (min-width:768px) {
    .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-inline .form-control {
    display: inline-block;
}
.form-inline .radio, .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.form-inline .radio input[type=radio], .form-inline .checkbox input[type=checkbox] {
    float: none;
    margin-left: 0;
}
}.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
@media (min-width:768px) {
    .form-horizontal .control-label {
        text-align: right;
    }
}
.row-padded {
    margin-top: 100px;
    margin-bottom: 50px;
}
.row-loading {
    height: 300px;
}

.form-footer {
    margin-top: 40px;
}
.form-message {
    margin: 0 20px;
    color: #999;
}

.loading-inline {
    position: absolute;
    top: 50%}
span.loading {
    position: static;
    display: inline-block;
    margin: 0 10px;
}
.loading-lg {
    width: 30px;
    height: 30px;
    margin: -12px 0 0 -12px;
    margin-left: -15px;
    border-width: 3px;
}
.loading-xl {
    width: 60px;
    height: 60px;
    margin: -12px 0 0 -12px;
    margin-left: -30px;
    border-width: 3px;
}
.loading-sm {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
}
.loading-xs {
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border-width: 1px;
}
.btn-loading {
    position: relative;
    overflow: hidden;
}
.btn-loading.active>.loading {
    left: 50%;
    visibility: visible;
}
.btn-loading.active>span.loading {
    left: 0;
}
.btn-loading.active>.btn-label {
    left: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.btn-loading>.loading {
    position: absolute;
    top: 50%;
    left: -12px;
    z-index: 1;
    border-top-color: #fff;
    border-left-color: #fff;
    visibility: hidden;
    -webkit-transition: left .2s;
    transition: left .2s;
}
.btn-loading>span.loading {
    position: relative;
    top: 1px;
    left: 0;
    display: none;
    margin: 0;
}
.btn-loading>.btn-label {
    position: relative;
    left: 0;
    -webkit-transition: left .2s, opacity .2s;
    transition: left .2s, opacity .2s;
}
.btn-loading-replace.active>.loading {
    display: inline-block;
}
.btn-loading-replace.active>.btn-label {
    display: none;
}
.btn-loading-replace:hover.active>.loading {
    display: none;
}
.btn-loading-replace:hover.active>.btn-label-alt {
    display: inline-block;
    left: auto;
    right: auto;
}
.btn-loading-replace:hover.active>.btn-label {
    display: none;
}
.btn-loading-replace>.btn-label-alt {
    position: relative;
    display: none;
}
.btn-loading-static.active .loading {
    display: block;
}
.btn-loading-static.active span.loading {
    display: inline-block;
}
.btn-loading-static .loading {
    display: none;
}
.btn-loading-static>.loading, .btn-loading-static>.btn-label, .btn-loading-static>.btn-label-alt {
    -webkit-transition: none;
    transition: none;
}

label {
    font-weight: 400;
    color: #999;
}

.control-error {
    display: none;
    margin-left: 10px;
}

.has-error .control-error {
    display: inline;
    color: #999;
}

.alert {
    position: fixed;
    top: 70px;
    left: 50%;
    z-index: 1090;
    width: 350px;
    padding: 40px;
    margin-left: -175px;
    background-color: rgba(0, 0, 0, .9);
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
    -webkit-transition: all .5s;
    transition: all .5s;
}
.alert.transition-in {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
}
.alert.transition-out {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
}
.alert:hover>.close-btn, .alert:focus>.close-btn {
    opacity: .3;
    filter: alpha(opacity=30);
}
.alert>.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.alert>.close-btn:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.alert>.alert-icon {
    position: absolute;
    top: 50%;
    left: 35px;
    margin-top: -24px;
    font-size: 48px;
    opacity: .7;
    filter: alpha(opacity=70);
    padding: 0 5px;
}
.alert.has-error>.alert-icon {
    color: #DBF134;
}
.alert>h4 {
    margin: 0 0 0 80px;
}
.alert>h4 p:last-child {
    margin-bottom: 0;
}
.alert-sm {
    padding: 20px;
}
.alert-sm>.close-btn {
    top: 2px;
    right: 2px;
    font-size: 12px;
}
.alert-sm>.alert-icon {
    left: 20px;
    margin-top: -12px;
    font-size: 24px;
}
.alert-sm>h4 {
    margin: 0 0 0 40px;
    font-size: 14px;
}
.alert.has-error {
    background-color: #3c0000;
    background-color: rgba(90, 0, 0, .9);
}
.alert.has-error h4 {
    color: #DBF134;
}
.alert.has-success {
    background-color: #003200;
    background-color: rgba(0, 90, 0, .9);
}
.alert-status {
    top: auto;
    bottom: 20px;
    left: 50%;
    z-index: 1009;
    width: 50%;
    padding: 5px 20px;
    margin: 0;
    font-size: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.alert-status.transition-out {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(-50%, 80px);
    -ms-transform: translate(-50%, 80px);
    transform: translate(-50%, 80px);
}
.alert-status>.alert-icon {
    left: 15px;
    margin-top: -8px;
    font-size: 16px;
}
.alert-status>.status {
    display: inline-block;
    height: 24px;
    margin-left: 30px;
    overflow: hidden;
    font-size: 14px;
}





/********************************************************************************************************/

.glyphicon-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%}
.glyphicon-2x {
    font-size: 2em;
}
.glyphicon-3x {
    font-size: 3em;
}
.glyphicon-4x {
    font-size: 4em;
}
.glyphicon-5x {
    font-size: 5em;
}
.glyphicon.glass:before {
    content: "\e001"}
.glyphicon.leaf:before {
    content: "\e002"}
.glyphicon.dog:before {
    content: "\1F415"}
.glyphicon.user:before {
    content: "\e004"}
.glyphicon.girl:before {
    content: "\1F467"}
.glyphicon.car:before {
    content: "\e006"}
.glyphicon.user-add:before {
    content: "\e007"}
.glyphicon.user-remove:before {
    content: "\e008"}
.glyphicon.film:before {
    content: "\e009"}
.glyphicon.magic:before {
    content: "\e010"}
.glyphicon.envelope:before {
    content: "\2709"}
.glyphicon.camera:before {
    content: "\1F4F7"}
.glyphicon.heart:before {
    content: "\e013"}
.glyphicon.beach-umbrella:before {
    content: "\e014"}
.glyphicon.train:before {
    content: "\1F686"}
.glyphicon.print:before {
    content: "\e016"}
.glyphicon.bin:before {
    content: "\e017"}
.glyphicon.music:before {
    content: "\e018"}
.glyphicon.note:before {
    content: "\e019"}
.glyphicon.heart-empty:before {
    content: "\e020"}
.glyphicon.home:before {
    content: "\e021"}
.glyphicon.snowflake:before {
    content: "\2744"}
.glyphicon.fire:before {
    content: "\1F525"}
.glyphicon.magnet:before {
    content: "\e024"}
.glyphicon.parents:before {
    content: "\e025"}
.glyphicon.binoculars:before {
    content: "\e026"}
.glyphicon.road:before {
    content: "\e027"}
.glyphicon.search:before {
    content: "\e028"}
.glyphicon.cars:before {
    content: "\e029"}
.glyphicon.notes-2:before {
    content: "\e030"}
.glyphicon.pencil:before {
    content: "\270F"}
.glyphicon.bus:before {
    content: "\1F68C"}
.glyphicon.wifi-alt:before {
    content: "\e033"}
.glyphicon.luggage:before {
    content: "\e034"}
.glyphicon.old-man:before {
    content: "\e035"}
.glyphicon.woman:before {
    content: "\1F469"}
.glyphicon.file:before {
    content: "\e037"}
.glyphicon.coins:before {
    content: "\e038"}
.glyphicon.airplane:before {
    content: "\2708"}
.glyphicon.notes:before {
    content: "\e040"}
.glyphicon.stats:before {
    content: "\e041"}
.glyphicon.charts:before {
    content: "\e042"}
.glyphicon.pie-chart:before {
    content: "\e043"}
.glyphicon.group:before {
    content: "\e044"}
.glyphicon.keys:before {
    content: "\e045"}
.glyphicon.calendar:before {
    content: "\1F4C5"}
.glyphicon.router:before {
    content: "\e047"}
.glyphicon.camera-small:before {
    content: "\e048"}
.glyphicon.dislikes:before {
    content: "\e049"}
.glyphicon.star:before {
    content: "\e050"}
.glyphicon.link:before {
    content: "\e051"}
.glyphicon.eye-open:before {
    content: "\e052"}
.glyphicon.eye-close:before {
    content: "\e053"}
.glyphicon.alarm:before {
    content: "\e054"}
.glyphicon.clock:before {
    content: "\e055"}
.glyphicon.stopwatch:before {
    content: "\e056"}
.glyphicon.projector:before {
    content: "\e057"}
.glyphicon.history:before {
    content: "\e058"}
.glyphicon.truck:before {
    content: "\e059"}
.glyphicon.cargo:before {
    content: "\e060"}
.glyphicon.compass:before {
    content: "\e061"}
.glyphicon.keynote:before {
    content: "\e062"}
.glyphicon.paperclip:before {
    content: "\1F4CE"}
.glyphicon.power:before {
    content: "\e064"}
.glyphicon.lightbulb:before {
    content: "\e065"}
.glyphicon.tag:before {
    content: "\e066"}
.glyphicon.tags:before {
    content: "\e067"}
.glyphicon.cleaning:before {
    content: "\e068"}
.glyphicon.ruller:before {
    content: "\e069"}
.glyphicon.gift:before {
    content: "\e070"}
.glyphicon.umbrella:before {
    content: "\2602"}
.glyphicon.book:before {
    content: "\e072"}
.glyphicon.bookmark:before {
    content: "\1F516"}
.glyphicon.wifi:before {
    content: "\e074"}
.glyphicon.cup:before {
    content: "\e075"}
.glyphicon.stroller:before {
    content: "\e076"}
.glyphicon.headphones:before {
    content: "\e077"}
.glyphicon.headset:before {
    content: "\e078"}
.glyphicon.warning-sign:before {
    content: "\e079"}
.glyphicon.signal:before {
    content: "\e080"}
.glyphicon.retweet:before {
    content: "\e081"}
.glyphicon.refresh:before {
    content: "\e082"}
.glyphicon.roundabout:before {
    content: "\e083"}
.glyphicon.random:before {
    content: "\e084"}
.glyphicon.heat:before {
    content: "\e085"}
.glyphicon.repeat:before {
    content: "\e086"}
.glyphicon.display:before {
    content: "\e087"}
.glyphicon.log-book:before {
    content: "\e088"}
.glyphicon.address-book:before {
    content: "\e089"}
.glyphicon.building:before {
    content: "\e090"}
.glyphicon.eyedropper:before {
    content: "\e091"}
.glyphicon.adjust:before {
    content: "\e092"}
.glyphicon.tint:before {
    content: "\e093"}
.glyphicon.crop:before {
    content: "\e094"}
.glyphicon.vector-path-square:before {
    content: "\e095"}
.glyphicon.vector-path-circle:before {
    content: "\e096"}
.glyphicon.vector-path-polygon:before {
    content: "\e097"}
.glyphicon.vector-path-line:before {
    content: "\e098"}
.glyphicon.vector-path-curve:before {
    content: "\e099"}
.glyphicon.vector-path-all:before {
    content: "\e100"}
.glyphicon.font:before {
    content: "\e101"}
.glyphicon.italic:before {
    content: "\e102"}
.glyphicon.bold:before {
    content: "\e103"}
.glyphicon.text-underline:before {
    content: "\e104"}
.glyphicon.text-strike:before {
    content: "\e105"}
.glyphicon.text-height:before {
    content: "\e106"}
.glyphicon.text-width:before {
    content: "\e107"}
.glyphicon.text-resize:before {
    content: "\e108"}
.glyphicon.left-indent:before {
    content: "\e109"}
.glyphicon.right-indent:before {
    content: "\e110"}
.glyphicon.align-left:before {
    content: "\e111"}
.glyphicon.align-center:before {
    content: "\e112"}
.glyphicon.align-right:before {
    content: "\e113"}
.glyphicon.justify:before {
    content: "\e114"}
.glyphicon.list:before {
    content: "\e115"}
.glyphicon.text-smaller:before {
    content: "\e116"}
.glyphicon.text-bigger:before {
    content: "\e117"}
.glyphicon.embed:before {
    content: "\e118"}
.glyphicon.embed-close:before {
    content: "\e119"}
.glyphicon.table:before {
    content: "\e120"}
.glyphicon.message-full:before {
    content: "\e121"}
.glyphicon.message-empty:before {
    content: "\e122"}
.glyphicon.message-in:before {
    content: "\e123"}
.glyphicon.message-out:before {
    content: "\e124"}
.glyphicon.message-plus:before {
    content: "\e125"}
.glyphicon.message-minus:before {
    content: "\e126"}
.glyphicon.message-ban:before {
    content: "\e127"}
.glyphicon.message-flag:before {
    content: "\e128"}
.glyphicon.message-lock:before {
    content: "\e129"}
.glyphicon.message-new:before {
    content: "\e130"}
.glyphicon.inbox:before {
    content: "\e131"}
.glyphicon.inbox-plus:before {
    content: "\e132"}
.glyphicon.inbox-minus:before {
    content: "\e133"}
.glyphicon.inbox-lock:before {
    content: "\e134"}
.glyphicon.inbox-in:before {
    content: "\e135"}
.glyphicon.inbox-out:before {
    content: "\e136"}
.glyphicon.cogwheel:before {
    content: "\e137"}
.glyphicon.cogwheels:before {
    content: "\e138"}
.glyphicon.picture:before {
    content: "\e139"}
.glyphicon.adjust-alt:before {
    content: "\e140"}
.glyphicon.database-lock:before {
    content: "\e141"}
.glyphicon.database-plus:before {
    content: "\e142"}
.glyphicon.database-minus:before {
    content: "\e143"}
.glyphicon.database-ban:before {
    content: "\e144"}
.glyphicon.folder-open:before {
    content: "\e145"}
.glyphicon.folder-plus:before {
    content: "\e146"}
.glyphicon.folder-minus:before {
    content: "\e147"}
.glyphicon.folder-lock:before {
    content: "\e148"}
.glyphicon.folder-flag:before {
    content: "\e149"}
.glyphicon.folder-new:before {
    content: "\e150"}
.glyphicon.edit:before {
    content: "\e151"}
.glyphicon.new-window:before {
    content: "\e152"}
.glyphicon.check:before {
    content: "\e153"}
.glyphicon.unchecked:before {
    content: "\e154"}
.glyphicon.more-windows:before {
    content: "\e155"}
.glyphicon.show-big-thumbnails:before {
    content: "\e156"}
.glyphicon.show-thumbnails:before {
    content: "\e157"}
.glyphicon.show-thumbnails-with-lines:before {
    content: "\e158"}
.glyphicon.show-lines:before {
    content: "\e159"}
.glyphicon.playlist:before {
    content: "\e160"}
.glyphicon.imac:before {
    content: "\e161"}
.glyphicon.macbook:before {
    content: "\e162"}
.glyphicon.ipad:before {
    content: "\e163"}
.glyphicon.iphone:before {
    content: "\e164"}
.glyphicon.iphone-transfer:before {
    content: "\e165"}
.glyphicon.iphone-exchange:before {
    content: "\e166"}
.glyphicon.ipod:before {
    content: "\e167"}
.glyphicon.ipod-shuffle:before {
    content: "\e168"}
.glyphicon.ear-plugs:before {
    content: "\e169"}
.glyphicon.record:before {
    content: "\e170"}
.glyphicon.step-backward:before {
    content: "\e171"}
.glyphicon.fast-backward:before {
    content: "\e172"}
.glyphicon.rewind:before {
    content: "\e173"}
.glyphicon.play:before {
    content: "\e174"}
.glyphicon.pause:before {
    content: "\e175"}
.glyphicon.stop:before {
    content: "\e176"}
.glyphicon.forward:before {
    content: "\e177"}
.glyphicon.fast-forward:before {
    content: "\e178"}
.glyphicon.step-forward:before {
    content: "\e179"}
.glyphicon.eject:before {
    content: "\e180"}
.glyphicon.facetime-video:before {
    content: "\e181"}
.glyphicon.download-alt:before {
    content: "\e182"}
.glyphicon.mute:before {
    content: "\e183"}
.glyphicon.volume-down:before {
    content: "\e184"}
.glyphicon.volume-up:before {
    content: "\e185"}
.glyphicon.screenshot:before {
    content: "\e186"}
.glyphicon.move:before {
    content: "\e187"}
.glyphicon.more:before {
    content: "\e188"}
.glyphicon.brightness-reduce:before {
    content: "\e189"}
.glyphicon.brightness-increase:before {
    content: "\e190"}
.glyphicon.circle-plus:before {
    content: "\e191"}
.glyphicon.circle-minus:before {
    content: "\e192"}
.glyphicon.circle-remove:before {
    content: "\e193"}
.glyphicon.circle-ok:before {
    content: "\e194"}
.glyphicon.circle-question-mark:before {
    content: "\e195"}
.glyphicon.circle-info:before {
    content: "\e196"}
.glyphicon.circle-exclamation-mark:before {
    content: "\e197"}
.glyphicon.remove:before {
    content: "\e198"}
.glyphicon.ok:before {
    content: "\e199"}
.glyphicon.ban:before {
    content: "\e200"}
.glyphicon.download:before {
    content: "\e201"}
.glyphicon.upload:before {
    content: "\e202"}
.glyphicon.shopping-cart:before {
    content: "\e203"}
.glyphicon.lock:before {
    content: "\1F512"}
.glyphicon.unlock:before {
    content: "\e205"}
.glyphicon.electricity:before {
    content: "\e206"}
.glyphicon.ok-2:before {
    content: "\e207"}
.glyphicon.remove-2:before {
    content: "\e208"}
.glyphicon.cart-out:before {
    content: "\e209"}
.glyphicon.cart-in:before {
    content: "\e210"}
.glyphicon.left-arrow:before {
    content: "\e211"}
.glyphicon.right-arrow:before {
    content: "\e212"}
.glyphicon.down-arrow:before {
    content: "\e213"}
.glyphicon.up-arrow:before {
    content: "\e214"}
.glyphicon.resize-small:before {
    content: "\e215"}
.glyphicon.resize-full:before {
    content: "\e216"}
.glyphicon.circle-arrow-left:before {
    content: "\e217"}
.glyphicon.circle-arrow-right:before {
    content: "\e218"}
.glyphicon.circle-arrow-top:before {
    content: "\e219"}
.glyphicon.circle-arrow-down:before {
    content: "\e220"}
.glyphicon.play-button:before {
    content: "\e221"}
.glyphicon.unshare:before {
    content: "\e222"}
.glyphicon.share:before {
    content: "\e223"}
.glyphicon.chevron-right:before {
    content: "\e224"}
.glyphicon.chevron-left:before {
    content: "\e225"}
.glyphicon.chevron-up:before {
    content: "\e224"}
.glyphicon.chevron-up {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.glyphicon.chevron-down:before {
    content: "\e224"}
.glyphicon.chevron-down {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.glyphicon.bluetooth:before {
    content: "\e226"}
.glyphicon.euro:before {
    content: "\20AC"}
.glyphicon.usd:before {
    content: "\e228"}
.glyphicon.gbp:before {
    content: "\e229"}
.glyphicon.retweet-2:before {
    content: "\e230"}
.glyphicon.moon:before {
    content: "\e231"}
.glyphicon.sun:before {
    content: "\2609"}
.glyphicon.cloud:before {
    content: "\2601"}
.glyphicon.direction:before {
    content: "\e234"}
.glyphicon.brush:before {
    content: "\e235"}
.glyphicon.pen:before {
    content: "\e236"}
.glyphicon.zoom-in:before {
    content: "\e237"}
.glyphicon.zoom-out:before {
    content: "\e238"}
.glyphicon.pin:before {
    content: "\e239"}
.glyphicon.albums:before {
    content: "\e240"}
.glyphicon.rotation-lock:before {
    content: "\e241"}
.glyphicon.flash:before {
    content: "\e242"}
.glyphicon.google-maps:before {
    content: "\e243"}
.glyphicon.anchor:before {
    content: "\2693"}
.glyphicon.conversation:before {
    content: "\e245"}
.glyphicon.chat:before {
    content: "\e246"}
.glyphicon.male:before {
    content: "\e247"}
.glyphicon.female:before {
    content: "\e248"}
.glyphicon.asterisk:before {
    content: "\002A"}
.glyphicon.divide:before {
    content: "\00F7"}
.glyphicon.snorkel-diving:before {
    content: "\e251"}
.glyphicon.scuba-diving:before {
    content: "\e252"}
.glyphicon.oxygen-bottle:before {
    content: "\e253"}
.glyphicon.fins:before {
    content: "\e254"}
.glyphicon.fishes:before {
    content: "\e255"}
.glyphicon.boat:before {
    content: "\e256"}
.glyphicon.delete:before {
    content: "\e257"}
.glyphicon.sheriffs-star:before {
    content: "\e258"}
.glyphicon.qrcode:before {
    content: "\e259"}
.glyphicon.barcode:before {
    content: "\e260"}
.glyphicon.pool:before {
    content: "\e261"}
.glyphicon.buoy:before {
    content: "\e262"}
.glyphicon.spade:before {
    content: "\e263"}
.glyphicon.bank:before {
    content: "\1F3E6"}
.glyphicon.vcard:before {
    content: "\e265"}
.glyphicon.electrical-plug:before {
    content: "\e266"}
.glyphicon.flag:before {
    content: "\e267"}
.glyphicon.credit-card:before {
    content: "\e268"}
.glyphicon.keyboard-wireless:before {
    content: "\e269"}
.glyphicon.keyboard-wired:before {
    content: "\e270"}
.glyphicon.shield:before {
    content: "\e271"}
.glyphicon.ring:before {
    content: "\02DA"}
.glyphicon.cake:before {
    content: "\e273"}
.glyphicon.drink:before {
    content: "\e274"}
.glyphicon.beer:before {
    content: "\e275"}
.glyphicon.fast-food:before {
    content: "\e276"}
.glyphicon.cutlery:before {
    content: "\e277"}
.glyphicon.pizza:before {
    content: "\e278"}
.glyphicon.birthday-cake:before {
    content: "\e279"}
.glyphicon.tablet:before {
    content: "\e280"}
.glyphicon.settings:before {
    content: "\e281"}
.glyphicon.bullets:before {
    content: "\e282"}
.glyphicon.cardio:before {
    content: "\e283"}
.glyphicon.t-shirt:before {
    content: "\e284"}
.glyphicon.pants:before {
    content: "\e285"}
.glyphicon.sweater:before {
    content: "\e286"}
.glyphicon.fabric:before {
    content: "\e287"}
.glyphicon.leather:before {
    content: "\e288"}
.glyphicon.scissors:before {
    content: "\e289"}
.glyphicon.bomb:before {
    content: "\1F4A3"}
.glyphicon.skull:before {
    content: "\1F480"}
.glyphicon.celebration:before {
    content: "\e292"}
.glyphicon.tea-kettle:before {
    content: "\e293"}
.glyphicon.french-press:before {
    content: "\e294"}
.glyphicon.coffe-cup:before {
    content: "\e295"}
.glyphicon.pot:before {
    content: "\e296"}
.glyphicon.grater:before {
    content: "\e297"}
.glyphicon.kettle:before {
    content: "\e298"}
.glyphicon.hospital:before {
    content: "\1F3E5"}
.glyphicon.hospital-h:before {
    content: "\e300"}
.glyphicon.microphone:before {
    content: "\1F3A4"}
.glyphicon.webcam:before {
    content: "\e302"}
.glyphicon.temple-christianity-church:before {
    content: "\e303"}
.glyphicon.temple-islam:before {
    content: "\e304"}
.glyphicon.temple-hindu:before {
    content: "\e305"}
.glyphicon.temple-buddhist:before {
    content: "\e306"}
.glyphicon.bicycle:before {
    content: "\1F6B2"}
.glyphicon.life-preserver:before {
    content: "\e308"}
.glyphicon.share-alt:before {
    content: "\e309"}
.glyphicon.comments:before {
    content: "\e310"}
.glyphicon.flower:before {
    content: "\2698"}
.glyphicon.baseball:before {
    content: "\26BE"}
.glyphicon.rugby:before {
    content: "\e313"}
.glyphicon.ax:before {
    content: "\e314"}
.glyphicon.table-tennis:before {
    content: "\e315"}
.glyphicon.bowling:before {
    content: "\1F3B3"}
.glyphicon.tree-conifer:before {
    content: "\e317"}
.glyphicon.tree-deciduous:before {
    content: "\e318"}
.glyphicon.more-items:before {
    content: "\e319"}
.glyphicon.sort:before {
    content: "\e320"}
.glyphicon.filter:before {
    content: "\e321"}
.glyphicon.gamepad:before {
    content: "\e322"}
.glyphicon.playing-dices:before {
    content: "\e323"}
.glyphicon.calculator:before {
    content: "\e324"}
.glyphicon.tie:before {
    content: "\e325"}
.glyphicon.wallet:before {
    content: "\e326"}
.glyphicon.piano:before {
    content: "\e327"}
.glyphicon.sampler:before {
    content: "\e328"}
.glyphicon.podium:before {
    content: "\e329"}
.glyphicon.soccer-ball:before {
    content: "\e330"}
.glyphicon.blog:before {
    content: "\e331"}
.glyphicon.dashboard:before {
    content: "\e332"}
.glyphicon.certificate:before {
    content: "\e333"}
.glyphicon.bell:before {
    content: "\1F514"}
.glyphicon.candle:before {
    content: "\e335"}
.glyphicon.pushpin:before {
    content: "\1F4CC"}
.glyphicon.iphone-shake:before {
    content: "\e337"}
.glyphicon.pin-flag:before {
    content: "\e338"}
.glyphicon.turtle:before {
    content: "\1F422"}
.glyphicon.rabbit:before {
    content: "\1F407"}
.glyphicon.globe:before {
    content: "\e341"}
.glyphicon.briefcase:before {
    content: "\1F4BC"}
.glyphicon.hdd:before {
    content: "\e343"}
.glyphicon.thumbs-up:before {
    content: "\e344"}
.glyphicon.thumbs-down:before {
    content: "\e345"}
.glyphicon.hand-right:before {
    content: "\e346"}
.glyphicon.hand-left:before {
    content: "\e347"}
.glyphicon.hand-up:before {
    content: "\e348"}
.glyphicon.hand-down:before {
    content: "\e349"}
.glyphicon.fullscreen:before {
    content: "\e350"}
.glyphicon.shopping-bag:before {
    content: "\e351"}
.glyphicon.book-open:before {
    content: "\e352"}
.glyphicon.nameplate:before {
    content: "\e353"}
.glyphicon.nameplate-alt:before {
    content: "\e354"}
.glyphicon.vases:before {
    content: "\e355"}
.glyphicon.bullhorn:before {
    content: "\e356"}
.glyphicon.dumbbell:before {
    content: "\e357"}
.glyphicon.suitcase:before {
    content: "\e358"}
.glyphicon.file-import:before {
    content: "\e359"}
.glyphicon.file-export:before {
    content: "\e360"}
.glyphicon.bug:before {
    content: "\1F41B"}
.glyphicon.crown:before {
    content: "\1F451"}
.glyphicon.smoking:before {
    content: "\e363"}
.glyphicon.cloud-upload:before {
    content: "\e364"}
.glyphicon.cloud-download:before {
    content: "\e365"}
.glyphicon.restart:before {
    content: "\e366"}
.glyphicon.security-camera:before {
    content: "\e367"}
.glyphicon.expand:before {
    content: "\e368"}
.glyphicon.collapse:before {
    content: "\e369"}
.glyphicon.collapse-top:before {
    content: "\e370"}
.glyphicon.globe-af:before {
    content: "\e371"}
.glyphicon.global:before {
    content: "\e372"}
.glyphicon.spray:before {
    content: "\e373"}
.glyphicon.nails:before {
    content: "\e374"}
.glyphicon.claw-hammer:before {
    content: "\e375"}
.glyphicon.classic-hammer:before {
    content: "\e376"}
.glyphicon.hand-saw:before {
    content: "\e377"}
.glyphicon.riflescope:before {
    content: "\e378"}
.glyphicon.electrical-socket-eu:before {
    content: "\e379"}
.glyphicon.electrical-socket-us:before {
    content: "\e380"}
.glyphicon.message-forward:before {
    content: "\e381"}
.glyphicon.coat-hanger:before {
    content: "\e382"}
.glyphicon.dress:before {
    content: "\1F457"}
.glyphicon.bathrobe:before {
    content: "\e384"}
.glyphicon.shirt:before {
    content: "\e385"}
.glyphicon.underwear:before {
    content: "\e386"}
.glyphicon.log-in:before {
    content: "\e387"}
.glyphicon.log-out:before {
    content: "\e388"}
.glyphicon.exit:before {
    content: "\e389"}
.glyphicon.new-window-alt:before {
    content: "\e390"}
.glyphicon.video-sd:before {
    content: "\e391"}
.glyphicon.video-hd:before {
    content: "\e392"}
.glyphicon.subtitles:before {
    content: "\e393"}
.glyphicon.sound-stereo:before {
    content: "\e394"}
.glyphicon.sound-dolby:before {
    content: "\e395"}
.glyphicon.sound-5-1:before {
    content: "\e396"}
.glyphicon.sound-6-1:before {
    content: "\e397"}
.glyphicon.sound-7-1:before {
    content: "\e398"}
.glyphicon.copyright-mark:before {
    content: "\e399"}
.glyphicon.registration-mark:before {
    content: "\e400"}
.glyphicon.radar:before {
    content: "\e401"}
.glyphicon.skateboard:before {
    content: "\e402"}
.glyphicon.golf-course:before {
    content: "\e403"}
.glyphicon.sorting:before {
    content: "\e404"}
.glyphicon.sort-by-alphabet:before {
    content: "\e405"}
.glyphicon.sort-by-alphabet-alt:before {
    content: "\e406"}
.glyphicon.sort-by-order:before {
    content: "\e407"}
.glyphicon.sort-by-order-alt:before {
    content: "\e408"}
.glyphicon.sort-by-attributes:before {
    content: "\e409"}
.glyphicon.sort-by-attributes-alt:before {
    content: "\e410"}
.glyphicon.compressed:before {
    content: "\e411"}
.glyphicon.package:before {
    content: "\1F4E6"}
.glyphicon.cloud-plus:before {
    content: "\e413"}
.glyphicon.cloud-minus:before {
    content: "\e414"}
.glyphicon.disk-save:before {
    content: "\e415"}
.glyphicon.disk-open:before {
    content: "\e416"}
.glyphicon.disk-saved:before {
    content: "\e417"}
.glyphicon.disk-remove:before {
    content: "\e418"}
.glyphicon.disk-import:before {
    content: "\e419"}
.glyphicon.disk-export:before {
    content: "\e420"}
.glyphicon.tower:before {
    content: "\e421"}
.glyphicon.send:before {
    content: "\e422"}
.glyphicon.git-branch:before {
    content: "\e423"}
.glyphicon.git-create:before {
    content: "\e424"}
.glyphicon.git-private:before {
    content: "\e425"}
.glyphicon.git-delete:before {
    content: "\e426"}
.glyphicon.git-merge:before {
    content: "\e427"}
.glyphicon.git-pull-request:before {
    content: "\e428"}
.glyphicon.git-compare:before {
    content: "\e429"}
.glyphicon.git-commit:before {
    content: "\e430"}
.glyphicon.construction-cone:before {
    content: "\e431"}
.glyphicon.shoe-steps:before {
    content: "\e432"}
.glyphicon.plus:before {
    content: "\002B"}
.glyphicon.minus:before {
    content: "\2212"}
.glyphicon.redo:before {
    content: "\e435"}
.glyphicon.undo:before {
    content: "\e436"}
.glyphicon.golf:before {
    content: "\e437"}
.glyphicon.hockey:before {
    content: "\e438"}
.glyphicon.pipe:before {
    content: "\e439"}
.glyphicon.wrench:before {
    content: "\1F527"}
.glyphicon.folder-closed:before {
    content: "\e441"}
.glyphicon.phone-alt:before {
    content: "\e442"}
.glyphicon.earphone:before {
    content: "\e443"}
.glyphicon.floppy-disk:before {
    content: "\e444"}
.glyphicon.floppy-saved:before {
    content: "\e445"}
.glyphicon.floppy-remove:before {
    content: "\e446"}
.glyphicon.floppy-save:before {
    content: "\e447"}
.glyphicon.floppy-open:before {
    content: "\e448"}
.glyphicon.translate:before {
    content: "\e449"}
.glyphicon.fax:before {
    content: "\e450"}
.glyphicon.factory:before {
    content: "\1F3ED"}
.glyphicon.shop-window:before {
    content: "\e452"}
.glyphicon.shop:before {
    content: "\e453"}
.glyphicon.kiosk:before {
    content: "\e454"}
.glyphicon.kiosk-wheels:before {
    content: "\e455"}
.glyphicon.kiosk-light:before {
    content: "\e456"}
.glyphicon.kiosk-food:before {
    content: "\e457"}
.glyphicon.transfer:before {
    content: "\e458"}
.glyphicon.money:before {
    content: "\e459"}
.glyphicon.header:before {
    content: "\e460"}
.glyphicon.blacksmith:before {
    content: "\e461"}
.glyphicon.saw-blade:before {
    content: "\e462"}
.glyphicon.basketball:before {
    content: "\e463"}
.glyphicon.server:before {
    content: "\e464"}
.glyphicon.server-plus:before {
    content: "\e465"}
.glyphicon.server-minus:before {
    content: "\e466"}
.glyphicon.server-ban:before {
    content: "\e467"}
.glyphicon.server-flag:before {
    content: "\e468"}
.glyphicon.server-lock:before {
    content: "\e469"}
.glyphicon.server-new:before {
    content: "\e470"}
.glyphicon-social.pinterest:before {
    content: "\e001"}
.glyphicon-social.dropbox:before {
    content: "\e002"}
.glyphicon-social.google_plus:before {
    content: "\e003"}
.glyphicon-social.jolicloud:before {
    content: "\e004"}
.glyphicon-social.yahoo:before {
    content: "\e005"}
.glyphicon-social.blogger:before {
    content: "\e006"}
.glyphicon-social.picasa:before {
    content: "\e007"}
.glyphicon-social.amazon:before {
    content: "\e008"}
.glyphicon-social.tumblr:before {
    content: "\e009"}
.glyphicon-social.wordpress:before {
    content: "\e010"}
.glyphicon-social.instapaper:before {
    content: "\e011"}
.glyphicon-social.evernote:before {
    content: "\e012"}
.glyphicon-social.xing:before {
    content: "\e013"}
.glyphicon-social.zootool:before {
    content: "\e014"}
.glyphicon-social.dribbble:before {
    content: "\e015"}
.glyphicon-social.deviantart:before {
    content: "\e016"}
.glyphicon-social.read_it_later:before {
    content: "\e017"}
.glyphicon-social.linked_in:before {
    content: "\e018"}
.glyphicon-social.forrst:before {
    content: "\e019"}
.glyphicon-social.pinboard:before {
    content: "\e020"}
.glyphicon-social.behance:before {
    content: "\e021"}
.glyphicon-social.github:before {
    content: "\e022"}
.glyphicon-social.youtube:before {
    content: "\e023"}
.glyphicon-social.skitch:before {
    content: "\e024"}
.glyphicon-social.foursquare:before {
    content: "\e025"}
.glyphicon-social.quora:before {
    content: "\e026"}
.glyphicon-social.badoo:before {
    content: "\e027"}
.glyphicon-social.spotify:before {
    content: "\e028"}
.glyphicon-social.stumbleupon:before {
    content: "\e029"}
.glyphicon-social.readability:before {
    content: "\e030"}
.glyphicon-social.facebook:before {
    content: "\e031"}
.glyphicon-social.twitter:before {
    content: "\e032"}
.glyphicon-social.instagram:before {
    content: "\e033"}
.glyphicon-social.posterous_spaces:before {
    content: "\e034"}
.glyphicon-social.vimeo:before {
    content: "\e035"}
.glyphicon-social.flickr:before {
    content: "\e036"}
.glyphicon-social.last_fm:before {
    content: "\e037"}
.glyphicon-social.rss:before {
    content: "\e038"}
.glyphicon-social.skype:before {
    content: "\e039"}
.glyphicon-social.e-mail:before {
    content: "\e040"}
.glyphicon-social.vine:before {
    content: "\e041"}
.glyphicon-social.myspace:before {
    content: "\e042"}
.glyphicon-social.goodreads:before {
    content: "\e043"}
.glyphicon-social.apple:before {
    content: "\F8FF"}
.glyphicon-social.windows:before {
    content: "\e045"}
.glyphicon-social.yelp:before {
    content: "\e046"}
.glyphicon-social.playstation:before {
    content: "\e047"}
.glyphicon-social.xbox:before {
    content: "\e048"}
.glyphicon-social.android:before {
    content: "\e049"}
.glyphicon-social.ios:before {
    content: "\e050"}